---
layout: default
---
<head>
    <title>film photography by morgan jennings</title>
<meta name="description" content="95% not haunted">






<!-- Facebook Meta Tags -->


<meta property="og:url" content="https://nightelectricity.com/photos">


<meta property="og:type" content="website">


<meta property="og:title" content="film photography by morgan jennings">


<meta property="og:description" content="95% not haunted">


<meta property="og:image" content="https://opengraph.b-cdn.net/production/images/e383d1d5-d3a3-4bb2-b121-c299330c48fe.jpg?token=Pte9x328opx5KGxNVkFYA53HbxzMqu4ayUDxzdnXw4I&height=795&width=1200&expires=33277121648">





<!-- Twitter Meta Tags -->


<meta name="twitter:card" content="summary_large_image">


<meta property="twitter:domain" content="nightelectricity.com">


<meta property="twitter:url" content="https://nightelectricity.com/photos">


<meta name="twitter:title" content="film photography by morgan jennings">


<meta name="twitter:description" content="95% not haunted">


<meta name="twitter:image" content="https://opengraph.b-cdn.net/production/images/e383d1d5-d3a3-4bb2-b121-c299330c48fe.jpg?token=Pte9x328opx5KGxNVkFYA53HbxzMqu4ayUDxzdnXw4I&height=795&width=1200&expires=33277121648">




<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="index.html"><strong>{{ site.header.title }}</strong> {{ site.header.subtitle }}</a></h1>
        <nav>
            <ul>
                <li><a href="#footer" class="icon fa-info-circle">about</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <div id="main" data-exif='{{ site.exif }}'>
        {% for image in site.static_files %}
        {% if image.path contains 'fulls' %}
        <article class="thumb">
            <a href="{{ site.baseurl }}{{ site.image_fulls_loc }}/{{ image.name }}" class="image">
                <img src="{{ site.baseurl }}{{ site.image_thumbs_loc }}/{{ image.name }}" alt=""
                     data-name="{{ image.name }}"/></a>
            <!--<h2></h2>
            <p></p>-->
        </article>
        {% endif %}
        {% endfor %}
    </div>

    <!-- Footer -->
    <footer id="footer" class="panel">
        <div class="inner split">
            <div>
                <section>
                    <h2>{{ site.footer.name }}</h2>
                    <p>{{ site.footer.bio }}</p>
                </section>
                <section>
                    <h2>follow me on ...</h2>
					<span><a href='https://bsky.app/profile/nightelectricity.com'>bluesky</a> / <a href='https://www.instagram.com/nightelectricity/'>instagram</a></span>  
                </section>
                <p class="copyright">
                    &copy; {{ site.author }}
                </p>
            </div>
            
        </div>
    </footer>
</div>
